@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.container{
    position: relative;
}

.teamName{
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #12619C;
    letter-spacing: 1vh;
    font-size: 100px;
    margin-top: 8vh;
}

