.container {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 10vh;
  margin-top: 8vh;
}


.searchInput {
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 20vh;
  margin-top: 5vh;
}

.backIcon {
  height: 4.46vh;
  width: 5.87vw;
  color: #767676;
}

.searchInputbox {
  width: 85vw;
  height: 3vh;
  border-radius: 1vh;
  background-color: #EFEFEF;
  border: none;
  padding: 1vw;
  font-size: 20px;
}

.searchInputbox::placeholder{
  color: #000;
  font-size: 14px;
}

.searchImg {
  position: absolute;
  right: 4vw;
  height: 3.5vh;
}


.wrapData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-left: 2vw;
  gap: 8vw;
  margin-top: -10vh;
}


.wrapContent {
  border: solid #D9D9D9 1px;
  width: 15.5vw;
  height: 30.46vh;
  border-radius: 1vh;
}

.image{
  width: 15.5vw;
  height: 22.4vh;
  z-index: 100;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  object-fit: cover;
}

.wrapText{
  text-align: left;
  margin-left: 0.6vw;
  margin-top: 0.5vh;
}

.name {
  font-size: 19px;
}

.teamName{
  font-size: 13px;
  margin-top: -26vh;
  color: #515151;
}