@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.container{
    position: relative;
    background-image: url("../../assets/back.svg");
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.nav{
    display: flex;
    text-align: center;
    margin-left: 83vw;
    width: 30vw;
    height: 4vh;
    color: #12619C;
    font-weight: bold;
    font-size: 23px;
    margin-top: 3vh;
    text-decoration: underline;
}

.home,
.gallery,
.write{
    margin-right: 2vw;
    cursor: pointer;
}


.teamName{
    position: relative;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #12619C;
    letter-spacing: 1vh;
    font-size: 80px;
    padding: 4vh;
}

.postSlider{
    margin-bottom: -11vh;
}
.slider{
    margin-top: -91vh;
}


.img{
    height: 35vh;
}

.content{
    margin-top: -27vh;
    margin-left: 4.5vw;
    width: 10vw;
}