.wrap{
  background-color: #12619C;
  display: flex;
  text-align: center;
}

.Logo{
  display: flex;
  height: 3%;
  padding: 5%;
}

.background{
  margin-top: 15%;
  height: 50%;
}

.title{
  margin-top: 18%;
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 8px;
}

.span{
  text-decoration: underline;
}

.content{
  font-size: 35px;
  width: 29%;
  text-align: left;
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
  line-height:60px;
  margin-top: 25%;
  margin-left: 9%;
}

.span2{
  font-weight: bold;
}

.viewGallery{
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  height: 7%;
  border-style: solid;
  border-color: #fff;
  border-radius: 16px;
  margin-top: 35%;
  font-size: 30px;
  width: 20%;
}

.title,
.viewGallery{
  position: absolute;
  margin-left: 55%;
}